﻿@model List<WovynTemperature.Models.TemperatureReading>

<div class="row">
	<div class="col-md-12">
		<h2>Current Temperature</h2>
		<p>&nbsp;</p>
		@if (Model.Count() != 0)
		{
			var item = Model.First();
			Model.RemoveAt(0);
			if (item.IsTemperatureViolation)
			{
				<h3 class="temperature-violation">Temperature Violation</h3>
			}
			<dl class="dl-horizontal">
				<dt>
					@Html.LabelFor(modelItem => item.ID)
				</dt>
				<dd>
					@Html.DisplayFor(modelItem => item.ID)
				</dd>

				<dt>
					@Html.LabelFor(modelItem => item.Temperature)
				</dt>
				<dd>
					@Html.DisplayFor(modelItem => item.Temperature)
				</dd>

				<dt>
					@Html.LabelFor(modelItem => item.TimeStamp)
				</dt>
				<dd>
					@Html.DisplayFor(modelItem => item.TimeStamp)
				</dd>
			</dl>
		}
		else
		{
			<h3 class="information">No temperature readings</h3>
		}
	</div>
	<div class="col-md-12">
		<h2>Recente Temperature Readings</h2>
		<p>&nbsp;</p>
		@if (Model.Count() == 0)
		{
			<h3 class="information">No recent temperature readings</h3>
		}
		@foreach (var item in Model)
		{
			if (item.IsTemperatureViolation)
			{
				<h3 class="temperature-violation">Temperature Violation</h3>
			}
			<dl class="dl-horizontal">
				<dt>
					@Html.LabelFor(modelItem => item.ID)
				</dt>
				<dd>
					@Html.DisplayFor(modelItem => item.ID)
				</dd>

				<dt>
					@Html.LabelFor(modelItem => item.Temperature)
				</dt>
				<dd>
					@Html.DisplayFor(modelItem => item.Temperature)
				</dd>

				<dt>
					@Html.LabelFor(modelItem => item.TimeStamp)
				</dt>
				<dd>
					@Html.DisplayFor(modelItem => item.TimeStamp)
				</dd>
			</dl>
			<hr />
		}
	</div>
	<div class="col-md-12">
	</div>
</div>