﻿@model List<WovynTemperature.Models.TemperatureReading>

@{
	ViewBag.Title = "Wovyn Temperatures";
}

<div id="readings-container"></div>

@section scripts {
	<script>
		$(document).ready(function () {
			setInterval(updateReadings, 1000)
		});

		function updateReadings() {
			$.ajax({
				url: "/Readings/Readings",
				type: "GET",
			}).done(function (partialViewResult) {
				document.getElementById('readings-container').innerHTML = partialViewResult;
			});
		}
	</script>
}