﻿@model WovynTemperature.Models.TemperatureProfile

<h2>View Profile</h2>

<div>
    <h4>TemperatureProfile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThresholdTemperature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThresholdTemperature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToSMSNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToSMSNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromSMSNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromSMSNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ })
</p>
