﻿@model WovynTemperature.Models.TemperatureProfile

@{
	ViewBag.Title = "View Profile";
}
<div id="profile-container"></div>

@section scripts {
	<script>
		$(document).ready(function () {
			setInterval(updateReadings, 1000)
		});

		function updateReadings() {
			$.ajax({
				url: "/Profiles/TemperatureProfile",
				type: "GET",
			}).done(function (partialViewResult) {
				document.getElementById('profile-container').innerHTML = partialViewResult;
			});
		}
	</script>
}